# Python 
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.bak

# Panda3D 
*.bam
*.egg.bam
*.egg.pz
*.gltf.bam
*.gltf.pz

# Build artifacts
build/
dist/

# Environment 
.env
*.local
config.json
credentials.json

# Testing 
.cache/
*.cover
.coverage
htmlcov/
*.pytest_cache/
nosetests.xml
junit*.xml

#IDE
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Custom artifacts
*.png
*.jpg
*.jpeg
*.svg
*.gif
*.txt
*.csv
*.json
